# game settings.
# 
# comments begin with the '#' symbol. these instructions are one big comment.
# everything after the comment symbol will be ignored.
# 
# you must put all settings in the format 'setting = value' or the game will
# not recognize them and will crash.
# 
# all values must be floating point values.
# 
# correct example:
# example = 2.0
# 
# incorrect example:
# example = 2
# 
# duplicate settings will take on the value of the first one. for example:
# 
# example = 1.0
# example = 2.0
# 
# will give the setting 'example' a value of 1.0.

scale = 1.0 # Scaling is not completely implemented yet.